* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Varela Round", sans-serif;
}
.form-inline {
  display: inline-block;
}
.navbar {
  color: #fff;
  /* background: Green; */
  background: #3917a0;
  padding: 5px 16px;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.navbar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.navbar .navbar-brand {
  text-decoration: none;
  color: #efe5ff;
  padding-left: 0;
  padding-right: 50px;
  font-size: 24px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}
.navbar .navbar-brand i {
  font-size: 25px;
  margin-right: 5px;
}

.navbar ul li i {
  font-size: 18px;
}
.navbar .nav-item span {
  position: relative;
  top: 3px;
}
.navbar .nav > li a {
  color: #efe5ff;
  padding: 8px 15px;
  font-size: 14px;
}
/* .navbar .nav > li a:hover,
.navbar .nav > li a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
} */
.navbar .nav > li > a > i {
  display: block;
  text-align: center;
}
.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .dropdown-menu .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.navbar .dropdown.open > a,
.navbar .dropdown.open > a:hover,
.navbar .dropdown.open > a:focus {
  color: #fff;
  /* background: none !important; */
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .nav .user-action {
  padding: 9px 15px;
}
.navbar .navbar-toggle {
  border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
  background: #faf7fd;
  border-radius: 1px;
  border-color: #faf7fd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 350px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .navbar .nav > li > a > i {
    display: inline-block;
    text-align: left;
    min-width: 30px;
    position: relative;
    top: 4px;
  }
  .navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .navbar .navbar-form {
    border: none;
    display: block;
    margin: 10px 0;
    padding: 0;
  }
  .navbar .navbar-nav {
    margin: 8px 0;
  }
  .navbar .navbar-toggle {
    margin-right: 0;
  }
  .input-group {
    width: 100%;
  }
}

/*OUR STYLES*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  /* used to be 30px */
  justify-content: space-between;
}

.navbar {
  /* for toggle menu's absolute to work */
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

nav a {
  display: inline-block;
}

.navbar-nav {
  list-style-type: none;

  display: flex;
  align-items: center;
}

/* .navbar-nav > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.main-buttons > a {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar-nav > li:hover {
  /* background-color: rgb(0, 156, 0); */
  /* background-color: #3917a0; */
  background: rgb(70, 28, 197);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.322);
}

.main-buttons {
  padding: 0 50px;
}

.navbar-icon {
  display: block;
  text-align: center;
  height: 20px;
  width: 20px;
}

.submenu-icon {
  height: 17px;
  width: 17px;
  fill: white;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 62px;
  display: none;
  list-style: none;
  text-decoration: none;
}

.dropdown-menu li {
  display: block;
  color: #fff;
}

.dropdown-menu li a {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.dropdown-menu li a:link {
  /* background-color: green; */
  background-color: #3917a0;
  color: rgb(255, 255, 255);
}

.dropdown-menu li a:hover,
a:active {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.322);
  /* background-color: rgb(0, 156, 0); */
  /* background-color: #3917a0; */
  background: rgb(70, 28, 197);
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

.logo-and-info-box {
  background-color: rgb(243, 243, 243);
  padding: 30px;
  margin: 0;
  margin-bottom: 15px;
  /* margin: 0 30px; */

  /* grid-column: 1 / -1; */

  /* For this element to grow in the flex body */
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-box {
  align-self: stretch;
}

.info-list {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

#my-chart.column {
  height: 20rem;
  max-width: 500px;
  margin: 0 auto;
}

.company-logo {
  height: 20rem;
  background-color: #fff;
}

.lists-container {
  /* background-color: pink; */
  padding: 0 30px;
  /* height: 850px; */

  /* display: flex;
  flex-direction: column;
  gap: 60px; */

  /* For element to grow within flex body (divides content area into 2 equal parts keeping the gap at 30px) */

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.reviews-section {
  width: 50vw;
}

.reviews-and-comments-list {
  grid-column: 1 / 2;

  height: 400px;
  overflow: hidden;
  overflow-y: scroll;

  padding: 10px;
  background-color: #f1f3f5;

  display: flex;
  flex-direction: column;
  gap: 9px;
}

.review,
.comment {
  /* border: black 2px solid; */
  background-color: #f8f9fa;

  /* for the list itself ka sizes */
  flex: 1 0 60px;

  /* for the reviews and comments ka layouts */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviewer-commenter-img {
  height: 60px;
}

.review > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best-boi {
  height: 400px;

  align-self: center;
  justify-self: center;
}

.header-secondary {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #111;
  font-weight: bold;
}

.job-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
}

.job-list .job {
  border-bottom: 1px solid #ccc;
}

.job:first-child {
  border-top: 1px solid #ccc;
}

.job {
  padding: 1.6rem;
}

.job:hover {
  background-color: #d0ebff;
}

.job-title {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #333;
  margin-bottom: 0.4rem;
}

.created-since {
  font-family: sans-serif;
  font-size: 0.8rem;
  line-height: 1;
  color: #6f6f6f;
  text-transform: lowercase;
}

.page-footer {
  width: 100%;
  padding: 0.2rem;
  margin-top: 1.2rem;
  /* background-color: green; */
  background-color: #3917a0;
  color: #fff;
}

#my-chart {
  --data-axes-color: rgba(0, 0, 0, 0.15);
  --data-axes-style: solid;
  --data-axes-width: 1px;
}
