.user_img{
  float:right;
  width:250px;
}

.date {
  font-family: Helvetica,Arial,open-sans;
  font-size: .8571rem;
  font-weight: 600;
  color: #0093e0!important;
}

.left-right-arrows {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.left-right-arrows button {
  height: 38px;
  width: 38px;
  border: 1px solid #464646;
}

.timeline-section {
  position: relative;
  margin: 0 auto;
}

.timeline-section .timeline-li {
  display: inline-block;
  padding-left: 42px;
}

.timeline-section .timeline-li p {
  font-size: 1.214rem;
  font-weight: 400;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}

.timeline-section .timeline-date {
  min-width: 81px;
  height: 88px;
  background-color: #0093e0!important;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
  font-weight: 600;
  padding-top: 15px;
  display: inline-block;
}

.timeline-section .timeline-date span {
  font-weight: 300;
  font-size: 2.5rem;
  display: block;
  padding: 0;
  line-height: 30px;
}