{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>View My Organization Profile</title>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link
        rel="stylesheet"
        href="{% static 'css/organization_homepage.css' %}"
        />
    </head>

    <body>
        <!--Navigation bar-->
        <header>
            <nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">
              <div class="navbar-header">
                <a class="navbar-brand" href="#"
                  ><i class="fa fa-cube"></i>NITK<b> Linkedin</b></a
                >
              </div>
      
              <div
                id="navbarCollapse"
                class="collapse navbar-collapse justify-content-end"
              >
                <ul class="nav navbar-nav">

                  <li class="main-buttons">
                    <a class="active nav-link" href="{% url 'organizationJobs' %}"
                      ><span>Jobs</span><i class="fa fa-briefcase"></i
                    ></a>
                  </li>
                </ul>
              </div>
      
              <div
                id="navbarCollapse"
                class="collapse navbar-collapse justify-content-end"
              >
                <ul class="nav navbar-nav">
                  <li>
                    <a class="active nav-link" href="{% url 'organizationHome' %}"
                      >Home<i class="fa fa-home"></i
                    ></a>
                  </li>
      
                  <li class="nav-item dropdown active">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <img
                        src="{% static 'img/user_pic.jpeg' %}"
                        class="avatar"
                        alt="Avatar"
                      />
                      Organization Name
                      <svg
                        class="submenu-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="192"
                        height="192"
                        fill="#000000"
                        viewBox="0 0 256 256"
                      >
                        <rect width="256" height="256" fill="none"></rect>
                        <path
                          d="M215.4,92.9A8,8,0,0,0,208,88H48a8,8,0,0,0-7.4,4.9,8.4,8.4,0,0,0,1.7,8.8l80,80a8.2,8.2,0,0,0,11.4,0l80-80A8.4,8.4,0,0,0,215.4,92.9Z"
                        ></path>
                      </svg>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li class="nav-link">
                        <a href="{% url 'organizationProfile' %}" class="nav-link"
                          ><i class="fa fa-user-o"></i><span>Profile</span></a
                        >
                      </li>
                      <li class="nav-link">
                        <a href="{% url 'logout' %}" class="nav-link"
                          ><i class="fa fa-sign-out"></i> <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </header>

        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column text-center p-3 py-2" >
                        <img class="border rounded-circle mt-5" style="align-self: center;" width="60%" src="{% static 'img/org_profile.png' %}">
                        <span><br><b>Organization Name</b></span>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="p-3 py-2">
                        <div class="d-flex mb-3">
                            <h4><b>My Organization Profile</b></h4>
                        </div>
                        <br>
                        <div class="col-md-10">
                          <label for="name">Organization Name</label>
                          <input type="text" id="name" name="name" class="form-control"  value="{{name}}" >
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5">
                                <label for="industry">Industry</label><br>
                                <input type="text" id="industry" name="industry" class="form-control" value="{{industry}}" ><br>
                            </div>
                            <p></p>
                            <div class="col-md-5">
                                <label for="company_size">Company Size</label>
                                <select id="company_size" name="company_size" class="form-select">
                                  <option disabled="disabled" selected>-- Please select an option --</option>
                                  <option value="0-1">0-1 employees</option>
                                  <option value="2-10">2-10 employees</option>
                                  <option value="11-50">11-50 employees</option>
                                  <option value="51-200">51-200 employees</option>
                                  <option value="201-500">201-500 employees</option>
                                  <option value="501-1000">501-1000 employees</option>
                                  <option value="1001-5000">1001-5000 employees</option>
                                  <option value="5001-10000">5001-10000 employees</option>
                                  <option value="10001+">10001+ employees</option>
                                </select>
                              </div>
                            <div class="col-md-5">
                              <label for="company_type">Company Type</label>
                              <select id="company_type" name="company_type" class="form-select">
                                <option disabled="disabled" selected>-- Please select an option --</option>
                                <option value="educational">Educational</option>
                                <option value="government">Government Agency</option>
                                <option value="nonprofit">Non profit</option>
                                <option value="partnership">Partnership</option>
                                <option value="private">Privately held</option>
                                <option value="public">Public Company</option>
                                <option value="selfemployeed">Self Employeed</option>
                                <option value="self-owned">Self Owned</option>
                              </select>
                            </div>
                            <p></p><p></p>
                            <div class="col-md-10">
                                <label for="location">Locations</label>
                                <input type="text" id="location" name="location" class="form-control"  value="{{locations}}" ><br>
                            </div>
                            <div class="col-md-10">
                                <label for="web_url">Website URL</label>
                                <input type="text" id="web_url" name="web_url" class="form-control"  value="{{web_url}}" ><br>
                            </div>
                            <div class="col-md-5">
                                <label for="contact">Contact Number</label>
                                <input type="text" id="contact" name="contact" class="form-control" value="{{contact}}" >
                            </div>
                            <div class="col-md-5">
                                <label for="email">Email ID</label>
                                <input type="email" id="email" name="email" class="form-control" value="{{email}}" ><br>
                            </div>
                        </div> 
                        <br>
                        <label class="labels">About The Company</label>
                        <p></p>
                        <textarea id="aboutme" name="aboutme" rows="4" style="box-sizing: border-box; width: 83%;" value="{{desc}}" ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="page-footer">
        Developed by: Advaith, Swetha &amp; Akheel ©
    </footer>
    <script src="../static/javascript/edit_profile.js"></script>
</html>                            
