body{
    margin-top:20px;
    background:#F5F5F5;
}

/* Candidate Grid */

.candidate-grid .candidate-list-image {
    text-align: center;
    margin-right: 0px;
}
.candidate-grid .candidate-list-image img {
    height: 150px;
    width: 100%;
}

.candidate-grid .candidate-list-details {
    text-align: center;
    padding: 20px 20px 0px 20px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.candidate-grid .candidate-list-favourite-time {

    border-top: 1px solid #eeeeee;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
}



/* Widget */
.widget .widget-title {
    margin-bottom: 20px;
}
.widget .widget-title h6 {
    margin-bottom: 0;
}
.widget .widget-title a {
    color: #212529;
}
.widget .widget-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}


/* checkbox */
.widget .widget-content {
    margin-top: 10px;
}
.widget .widget-content .custom-checkbox {
    margin-bottom: 8px;
}
.widget .widget-content .custom-checkbox:last-child {
    margin-bottom: 0px;
}



/* Job Detail */

.sidebar .widget {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
}
.sidebar .widget .widget-title {
    border-bottom: 1px solid #eeeeee;
    padding: 14px 20px;
}

.sidebar .widget .widget-content {
    padding: 14px 20px;
}

btn-rounded {
    border-radius: 2em;
}
